@import './variable';
@import './mixin';
@import './base';
@import "./components/Home";
@import "./components/Footer";
@import "./components/Header";
@import "./components/Login";
@import "./components/SignUp";
@import "./components/Forgotpass";
@import "./components/Postdetail";
@import "./components/View";
@import"./components/Body";
@import "./components/Addcomment";
@import "./components/Comment";
@import "./components/Secondcomment";
@import "./components/Related_post";
@import "./components/Moreauhtor";
@import "./components/Dialog1";
@import "./components/Dialog2";
@import "./components/Selected";
@import "./components/HomePost";
@import "./components/Topic";
@import "./components/SlideShow";
@import "./components/Newsletters";
