.main_frame_login_forgot {
  height: 600px;
  width: 100%;
  background-color: white;
  text-align: center;
  justify-content: center;
  justify-content: center;
  justify-self: center;

  margin: 0px;
  @include mobile {
    margin-bottom: -100px;
    margin-bottom: 0px;
  }

  .Top_frame_forgot {
    height: 400px;
    width: 100%;
    background-color: #f0f4fa;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    text-align: center;
    margin: 0px;
    display: flex;
  }

  .sub_Frame_forgot {
    height: 400px;
    width: 70%;
    background-color: #f0f4fa;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    text-align: center;
    margin: 0px;

    .frame_img_text{
      display: flex;
      justify-content: center;
      width: 100%;
      text-align: center;
      margin-top: 6%;

    }

    .icon_forgot {
      @include mobile {
        font-size: 30px;
        margin-right: 10px;
      }
    }

    .imglock{
      width: 60px;
      height: 50px;
      @include mobile{
        width: 30px;
        height: 30px;
       
      }
    }

    .title_forgot {
      text-align: center;
      margin-top: -10px;
      font-weight: 900;
      font-size: 50px;
      

      @include mobile {
        font-size: 20px;
        margin-top: 4px;
      }
    }
  }
  .main_paper_forgot {
    height: 330px;
    background-color: white;
    text-align: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    display: flex;
    margin-top: 70px;

    border-radius: 20px;
    @include mobile {
      border-radius: 20px;
      border-width: 1px;
    }

    .frame_button_connect {
      width: 400px;
      // background-color: red;
      height: 600px;
      margin-top: 10px;

      @include mobile {
        width: 200px;
      }
      .button_login{

        background-color: #035BDE;
        border-radius: 30px;
        height: 45px;
        color: white;
        text-transform: capitalize;
        margin-Bottom: 30px;
      
      }

      .button_login:hover{

        color: black;
        background-color: #f0f4fa;
      }

      .inputtextcricle {
        fieldset {
          border-radius: 50px;
          border-color: gray;
        }

        @include mobile {
          width: 200px;
          justify-content: center;
          justify-items: center;
          justify-self: center;
          text-align: center;
        }
      }
    }
  }
}
.text_in_button {
  color: black;
  padding-left: 28%;
  @include mobile {
    padding-left: 11%;
  }
}

.text_in_button1 {
  color: black;
  padding-left: 28%;
  @include mobile {
    padding-left: 7%;
  }
}
