header .appname {
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  


  @include tablet {
    padding-right: "60px";
    padding-left: "118px";
  }
}

.frame_sigin {
  @include mobile {
    background-color: black;
    width: 100px;
    height: 50px;
    text-align: right;
  }
}

.menulist_frame .itemtext {
  display: none;
  min-width: 350px;
  position: absolute;
}

.menulist_frame:hover > .itemtext {
  display: block;
  min-width: 620px;
  background-color: white;
  color: black;
  opacity: 1;
  border-radius: 20px;
  margin-left: 30px;

  border: 1px solid #bfbdbd;
  position: absolute;
  transition: ease-out 0.35s;
  -moz-transition: ease-out 0.35s;
  transition-delay: 2s;
}

.menulist_frame2 .itemtext2 {
  display: none;
  min-width: 350px;
  position: absolute;
}

.menulist_frame2:hover > .itemtext2 {
  display: block;
  min-width: 250px;
  background-color: white;
  color: black;
  opacity: 1;
  border-radius: 20px;
  margin-left: 30px;

  border: 1px solid #bfbdbd;
  position: absolute;
  transition: ease-out 0.35s;
  -moz-transition: ease-out 0.35s;
  transition-delay: 2s;
}

.menulist_frame3 .itemtext3 {
  display: none;
  min-width: 350px;
  position: absolute;
}

.menulist_frame3:hover > .itemtext3 {
  display: block;
  min-width: 320px;
  background-color: white;
  color: black;
  opacity: 1;
  border-radius: 20px;
  margin-left: 30px;

  border: 1px solid #bfbdbd;
  position: absolute;
  transition: ease-out 0.35s;
  -moz-transition: ease-out 0.35s;
  transition-delay: 2s;
}

.menulist_frame4 .itemtext4 {
  display: none;
  min-width: 350px;
  position: absolute;
}

.menulist_frame4:hover > .itemtext4 {
  display: block;
  min-width: 170px;
  background-color: white;
  color: black;
  opacity: 1;
  border-radius: 20px;
  margin-left: 30px;

  border: 1px solid #bfbdbd;
  position: absolute;
  transition: ease-out 0.35s;
  -moz-transition: ease-out 0.35s;
  transition-delay: 2s;
}

.showcolor:hover {
  color: rosybrown;
}

.showcolor {
  text-align: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
}



.buttonSigin:hover {
  color: black;
}

.logohahalolo{
  @include tablet{
    margin-right: 20px;
  }
}


