
.main_paper_related_post{
    height: 430px;
    
    margin-top: 20px;
    cursor: pointer;

    .top_img_related_post{
        height: 250px;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        // background-image: url("./src/asset/Kevin_De_Bruyne.jpg");
        background-size: cover;

    }
    .frame_avatar_title_related_post{
        display: flex;
        margin:20px ;

        .frame_avatar_related_post{
            height: 30px;
            width: 31px;
            margin-top: -10px;
            background-size: cover;
        }

        .frame_title_related_post{
            padding-left: 15px;
            margin-top: -5px;

        }
    }

   
      

    .content_related_post{
        font-size: 20px;
        margin-left: 20px;
        
    }
    .frame_two_button_left_related_post{
        width: 75%;
        margin-left: 20px;
        // background-color: aquamarine;



        .button_favorite_related_post{
            background-color:#F5F5F5 ;
            color: black;
            border-radius: 20px;
        }

        .button_favorite_related_post1{
            background-color:#F5F5F5 ;
            color: black;
            border-radius: 20px;
            margin-left: 20px;
        }
        .button_favorite_related_post1:hover{
            background-color: aquamarine;
        }
        .button_favorite_related_post:hover{
            background-color: #F56767;
        }
    }

}